*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/composeApp/karma.config.d/moko-resources-generated.js
/composeApp/webpack.config.d/moko-resources-generated.js
/composeApp/dictionary_database.db
/.kotlin/
/kotlin-js-store/
